*{

box-sizing:border-box;

}


body{

margin:0;

font-family:Arial;

}



.call-history{

padding:20px;

}



.call-item{

display:flex;

align-items:center;

gap:15px;

padding:15px 0;

border-bottom:1px solid #ddd;

}



.avatar{

width:45px;

height:45px;

border-radius:50%;

background:#eee;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

}



.info{

flex:1;

}



.time{

font-size:13px;

color:#777;

margin-top:5px;

}



.duration{

font-size:14px;

}
