.voice-popup{
    position:fixed;
    left:0;
    bottom:0;

    width:100%;
    height:180px;

    background:#fff;

    border-radius:25px 25px 0 0;

    display:flex;
    align-items:center;
    justify-content:center;

    gap:40px;

    box-shadow:0 -5px 20px rgba(0,0,0,.2);

    z-index:9999;

    animation:voiceUp .25s ease;
}


.hidden{
    display:none!important;
}


@keyframes voiceUp{

    from{
        transform:translateY(100%);
    }

    to{
        transform:translateY(0);
    }

}


#waveCanvas{

    width:220px;
    height:60px;

}


.voice-trash{

    position:absolute;

    left:25px;

    width:55px;
    height:55px;

    border-radius:50%;

    border:0;

    background:#eee;

    font-size:25px;

}


.voice-send{

    width:65px;
    height:65px;

    border-radius:50%;

    border:0;

    background:#0084ff;

    color:white;

    display:flex;

    align-items:center;

    justify-content:center;

}


.voice-send svg{

    width:32px;
    height:32px;

}
.voice-actions{
    display:flex;
    justify-content:space-between;
    margin-top:18px;
}

.voice-trash,
.voice-send{
    width:110px;
    border:none;
    background:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
    cursor:pointer;
}

.voice-trash svg,
.voice-send svg{
    width:34px;
    height:34px;
}

.voice-trash span,
.voice-send span{
    font-size:18px;
    color:#222;
}
